#!/bin/sh
###offlineArt Modfications 

####  Content Folder
####      Will contain the files from WebUI
##oa_ext_www_content="$pb_usbdir/www_content"

#### SetUp the folders for non-terminal configuration of the artBox
####   config/set contains nothing and there will be looked for changes (new files)
oa_config="$pb_usbdir/config"

####   config  contains the current configuration
oa_current_config="/tmp/config"

oa_cfg_ssid="ssid.txt"
oa_cfg_txpower="txpower.txt"
oa_cfg_channel="channel.txt"
oa_cfg_hostname="hostname.txt"

#export datasets from the current uci config
oa_current_config_ssid="$oa_current_config/$oa_cfg_ssid"
oa_current_config_txpower="$oa_current_config/$oa_cfg_txpower"
oa_current_config_channel="$oa_current_config/$oa_cfg_channel"
oa_current_config_hostname="$oa_current_config/$oa_cfg_hostname"

#import datasets which changes currents setup
oa_new_config_ssid="$oa_config/$oa_cfg_ssid"
oa_new_config_txpower="$oa_config/$oa_cfg_txpower"
oa_new_config_channel="$oa_config/$oa_cfg_channel"
oa_new_config_hostname="$oa_config/$oa_cfg_hostname"

