
#New names
ext_usbmount="/mnt/usb"
ext_usbdevice="/dev/sda1"

ext_usbdir="$ext_usbmount/external_fs"
ext_img="$ext_usbdir/OpenWRT.img"
ext_img_src="$ext_usbmount/install/OpenWRT.img.gz"
ext_img_src_ur="http://downloads.piratebox.de/OpenWRT.img.gz"

ext_swapimg="$ext_usbdir/OpenWRT.swap"

ext_mountpoint="/mnt/ext"
# DONT CHANGE LINKTARGET AFTER YOU FINISHED THE INSTALL
ext_linktarget="/usr/local"

EXT_PATH_TOOL=/bin/ext_path_fixer


#Statics for more automatic during install
ext_auto_install="/tmp/ext_auto_install"
ext_force_ext_overwrite="/tmp/ext_force_ext_overwrite"
ext_force_ext_ignore="/tmp/ext_force_ext_ignore"

